* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 101);
  color: white;
}

.app {
  padding: 5%;
}

.form-container {
  display: flex;
  gap: 20px;
}

.form-container > div {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 20px;
}
input {
  padding: 6px 10px;
  outline: none;
}
